Package: [[name]]
Version: [[version]]
Section: contrib/java
Priority: optional
Architecture: all
Maintainer: Maintainer Unknown <user@arrowhead.eu>
Homepage: http://www.arrowhead.eu
Description: Custom Arrowhead application
Distribution: development
Depends: java-runtime-headless, arrowhead-common, arrowhead-client-common, arrowhead-core-common