################################################
# NON-MANDATORY PARAMETERS (defaults are showed)
################################################

# Webserver parameters
address=0.0.0.0
insecure_port=8462
secure_port=8463

# Event Handler
eh_address=0.0.0.0
eh_insecure_port=8454
eh_secure_port=8455

#####################################################################
# MANDATORY PARAMETERS ONLY IN SECURE MODE (invoked w/ -tls argument)
#####################################################################

# Certificate related paths and passwords
keystore=config/certificates/testcloud1/tempsensor.testcloud1.jks #TODO do subscriber cert
keystorepass=12345
keypass=12345
truststore=config/certificates/testcloud1/testcloud1_cert.jks
truststorepass=12345