orch_uri=http://0.0.0.0:8440/orchestrator//orchestration
ssl.truststore=C:\\Users\\Public\\Java\\arrowhead\\certificates\\testcloud1\\testcloud1_cert.jks
ssl.truststorepass=12345
ssl.keystore=C:\\Users\\Public\\Java\\arrowhead\\certificates\\testcloud1\\client2\\client2.testcloud1.jks
ssl.keystorepass=12345
ssl.keypass=12345