Package: [[name]]
Version: [[version]]
Section: contrib/java
Priority: optional
Architecture: all
Maintainer: Maintainer Unknown <user@arrowhead.eu>
Homepage: http://www.arrowhead.eu
Description: Custom common library for Arrowhead
Distribution: development
Depends: java-runtime-headless, arrowhead-client-common
